body {
  margin: 0;
  padding: 0%;
  color: aliceblue;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
}
.home_body {
  position:relative;
  padding-top: 2.5rem;
  height: 100%;
  width: 100%;
  background-image: url("/assets/home/background-home-desktop.jpg");
  background-position: center;
  background-size: cover;
}
.logo {
  margin: 1.5rem 0 0 3.5rem;
  position: absolute;
}
.nav_hr {
  position: absolute;
  display: inline;
  margin-top: 3rem;
  margin-left: 12%;
  background-color: #505155;
  width: 35%;
  z-index: 1;
  border-width: 0px;
  height: 0.1px;
}
.nav_bar {
  display: inline-block;
  height: 6rem;
  text-align: center;
  position:relative;
  width: 55vw;
  margin-left: 43.6vw;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(25px);
  color: #ffffff;
}
.close_icon{
  display: none;
}
.nav_ele {
  display: inline-block;
  position: relative;
  width: fit-content;
  z-index: 1;
  margin: 2.4375rem 1rem 2.4375rem 2rem;
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1688rem;
  color: #ffffff;
}
.nav_ele a{
  text-decoration: none;
  color: inherit;
}
.nav_icon{
  display: none;
}
.nav_ele hr {
  opacity: 0;
  width: 100%;
  margin: 2.125rem 0 0 0;
  border-width: 0;
  height: 3px;
  background-color: #ffffff;
}
.nav_ele:hover hr {
  opacity: 1;
  background-color: #77787c;
}
.nav_ele:active hr {
  opacity: 1;
  background-color: #ffffff;
}
#act hr{
  opacity: 1;
}
.container {
  display: flex;
}
.description {
  position: relative;
  box-sizing: border-box;
  width: 35%;
  margin: 14rem 10rem 0 10rem;
  display: inline-block;
  text-align: left;
  height: fit-content;
}
h5 {
  position: relative;
  font-size: 1.75rem;
  letter-spacing: 0.2969rem;
  font-family: "Barlow Condensed";
  font-weight: 100;
  margin-bottom: 0%;
  color: #d0d6f9;
}
h1 {
  position: relative;
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 9.375rem;
  margin: 1.5rem 1rem 1rem 0.5rem;
}
p {
  position: relative;
  font-size: 1rem;
  line-height: 1.875rem;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.05rem;
  color: #d0d6f9;
  margin-bottom: 7rem;
}
.explore_container{
  position: relative;
  box-sizing: border-box;
  width: 40vw;
  height: 40vw;
  text-align: center;
  margin-top: 20vw;
  padding: 0%;
}
.explore {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
  height:70%;
  width: 70%;
  padding-top: 0%;
  margin: 15%;
  font-size: 3.5rem;
  font-family: "Bellefair";
  border-radius: 100%;
  color: #0b0d17;
  font-weight: 400;
}
.explore_hover {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  border-radius: 100%;
  width: 75%;
  height: 75%;
  margin: 0;

}
.explore_hover:hover {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(25px);
}
.explore p{
  color: #0b0d17;
  font-family: "Bellefair";
  font-size: 60%;
  padding: 0%;
  margin: 45% 0 0 0 ;
}
@media only screen and (max-width: 900px) {
  .home_body {
    padding-top: 0%;
    background-image: url(/assets/home/background-home-tablet.jpg);
    position: relative;
  }
  .nav_bar{
    width: 70vw;
    margin-left: 30vw;
  }
  .logo {
    margin-left: 2rem;
  }
  .nav_hr {
    display: none;
  }
  .nav_ele {
    margin: 2.4375rem 0.5rem 2.4375rem 1rem;
  }
  .nav_ele strong {
    display: none;
  }
  .container {
    display: inline-block;
  }
  .description {
    text-align: center;
    margin: 4rem 10rem 0 10rem;
    width: 60vw;
    position: relative;
  }
  .explore_container{
    margin: 0%;
    width: 100vw;
    height: 100vw;
    text-align: center;
    position: relative;
  }
  .explore_hover {
    display: inline-block;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    margin: 0%;
    text-align: center;
  }
  .explore {
    box-sizing: border-box;
    height: 70%;
    width: 70%;
    margin: 15%;
    padding: 0%;
    font-family: "Bellefair";
    border-radius: 100%;
    color: #0b0d17;
    font-weight: 400;
  }
  .explore p{
    color: #0b0d17;
    font-family: "Bellefair";
    font-size: 60%;
    padding: 0%;
    margin: 45% 0 0 0 ;
  }
}
.mob_menu{
  display: none;
}
@media only screen and (max-width: 496px) {
  .nav_bar {
    z-index: 3;
    box-sizing: border-box;
    position: absolute;
    width: 65vw;
    height: 100%;
    display: inline-block;
    text-align: left;
    margin: 0 0 0 35vw;
    padding: 10% 10vw 0 0;
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(25px);
    
  }
  .close_icon{
    /* display: inline-block;
    box-sizing: border-box;
    width: 10%; */
    display: block;
    text-align: right;
    margin-bottom: 10vw;
  }
  .nav_ele strong{
    display: inline;
  }
  .nav_ele{
    box-sizing: border-box;
    width: fit-content;
    margin:1rem 1vw 0 8vw;
  }
  .nav_ele hr{
    margin: 1rem 0 0 0;
  }
  .nav_icon{
    display: inline-block;
    width: fit-content;
    z-index: 1;
    margin: 2.3rem 2rem 0rem 85%;
    position: relative;
  }
  .home_body {
    padding-top: 0%;
    background-image: url(/assets/home/background-home-mobile.jpg);
    position: relative;
  }
  .description {
    width: 100%;
    margin: 2rem 0 0 0;
    height: fit-content;
    position: relative;
  }
  h5 {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 100;
    margin-bottom: 0%;
    color: #d0d6f9;
  }
  h1 {
    font-family: "Bellefair";
    font-weight: 400;
    font-size: 5rem;
    margin: 1.5rem 1rem 2rem 0.5rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.875rem;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.05rem;
    color: #d0d6f9;
    margin-bottom: 2rem;
  }
  .explore_container{
    width: 100vw;
    height: 100vw;
    text-align: center;
  }
  .explore_hover {
    display: inline-block;
    border-radius: 100%;
    width: 60%;
    height: 60%;
    margin: 0%;
    text-align: center;
  }
  .explore {
    box-sizing: border-box;
    height: 60%;
    width: 60%;
    margin: 20%;
    padding: 0%;
    font-family: "Bellefair";
    border-radius: 100%;
    color: #0b0d17;
    position: relative;
    font-weight: 400;
  }
  .explore p{
    color: #0b0d17;
    font-family: "Bellefair";
    font-size: 40%;
    padding: 0%;
    margin: 40% 0 0 0 ;
  }

  
}
