body {
  margin: 0;
  padding: 0%;
  color: aliceblue;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
}
.home_body {
  position: relative;
  padding-top: 2.5rem;
  background-image: url("assets/destination/background-destination-desktop.jpg");
  background-position: center;
  background-size: cover;
}
.logo {
  margin: 1.5rem 0 0 3.5rem;
  position: absolute;
}
.nav_hr {
  position: absolute;
  display: inline;
  margin-top: 3rem;
  margin-left: 12%;
  background-color: #505155;
  width: 35%;
  z-index: 1;
  border-width: 0px;
  height: 0.1px;
}
.nav_bar {
  display: inline-block;
  height: 6rem;
  text-align: center;
  position: relative;
  width: 55vw;
  margin-left: 43.6vw;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(25px);
  color: #ffffff;
}
.close_icon {
  display: none;
}
.nav_ele {
  display: inline-block;
  position: relative;
  width: fit-content;
  z-index: 1;
  margin: 2.4375rem 1rem 2.4375rem 2rem;
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1688rem;
  color: #ffffff;
}
.nav_ele a {
  text-decoration: none;
  color: inherit;
}
.nav_icon {
  display: none;
}
.nav_ele hr {
  opacity: 0;
  width: 100%;
  margin: 2.125rem 0 0 0;
  border-width: 0;
  height: 3px;
  background-color: #ffffff;
}
.nav_ele:hover hr {
  opacity: 1;
  background-color: #77787c;
}
.nav_ele:active hr {
  opacity: 1;
  background-color: #ffffff;
}
#act hr{
  opacity: 1;
}
.mob_menu {
  display: none;
}

/* DESCRIPTION */
h5 strong {
  color: #505155;
  font-weight: 800;
  margin: 0 1rem 0 0;
}
h5 {
  font-size: 1.75rem;
  letter-spacing: 0.2969rem;
  font-family: "Barlow Condensed";
  font-weight: 300;
  color: #ffffff;
  margin: 5rem 0 0 10rem;
}
.container {
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
}
.planet_image {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 40rem;
  padding: 7vw 0 0 16vw;
  margin: 0 10rem 0 0;
}
.planet_image img{
  width: 35vw;
}
.description {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 32vw;
  margin: 0rem 0 10rem 0;
}
.destination_bar {
  display: inline-block;
  box-sizing: border-box;
  width: 30vw;
  padding-top: 2rem;
  height: fit-content;
}
.destination_ele {
  display: inline-block;
  position: relative;
  width: fit-content;
  height: fit-content;
  z-index: 1;
  margin: 2.4375rem 1rem 0rem 1rem;
  font-family: "Barlow Condensed";
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 0.1688rem;
  color: #ffffff;
}
.destination_ele a {
  text-decoration: none;
  color: inherit;
}
.destination_ele hr {
  opacity: 0;
  width: 100%;
  margin: 1rem 0 1rem 0;
  border-width: 0;
  height: 3px;
  background-color: #ffffff;
}
.destination_ele:active{
    font-weight: 300;
}
.destination_ele:hover hr {
  opacity: 1;
  background-color: #77787c;
}
.destination_ele:active hr {
  opacity: 1;
  background-color: #ffffff;
}
h1 {
  display: inline-block;
  margin: 0%;
  font-size: 6.25rem;
  font-family: "Bellefair";
  font-weight: 400;
}
.description p {
  line-height: 1.875rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #D0D6F9;
}
.description .final{
  background-color: #505155;
  margin: 3rem 0 2rem 0;
  width: 100%;
  border-width: 0px;
  height:1px;
}
.dist_time{
    width: 45%;
    display: inline-block;
    margin-right: 2.5%;
}
.title{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: .8rem;
    font-family: "Barlow Condensed";
    font-weight: 100;
    color: #D0D6F9;
    letter-spacing: 0.1688rem;
}
.value{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: "Bellefair";
    color: #ffffff;
    width: 100%;
}
@media only screen and (max-width: 900px) {
  .home_body {
    padding-top: 0%;
    background-image: url(assets/destination/background-destination-tablet.jpg);
    position: relative;
  }
  .nav_bar {
    width: 70vw;
    margin-left: 30vw;
    
  }
  .logo {
    margin-left: 2rem;
  }
  .nav_hr {
    display: none;
  }
  .nav_ele {
    margin: 2.4375rem 0.5rem 2.4375rem 1rem;
  }
  .nav_ele strong {
    display: none;
  }
  .planet_image {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 5rem 0rem 0 0;
  }
  .planet_image img{
    width: 50vw;
  }
  h5{
    margin: 2rem 0 0 2rem;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
  }
  .description {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0rem 0 10rem 0;
    text-align: center;
  }
  .destination_bar {
    display: inline-block;
    box-sizing: border-box;
    width: 60vw;
    padding-top: 2rem;
    height: fit-content;
  }
  .description h1{
    display: block;
    font-size: 6rem;
  }
  .description p {
    line-height: 1.875rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: #D0D6F9;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .description .final{
    background-color: #505155;
    width: 80%;
    border-width: 0px;
    height: 1px;
    margin: 3rem 10% 2rem 10%;
  }
  .dist_time{
    width: 40%;
    display: inline-block;
    margin: 0%;
  }
}
@media only screen and (max-width: 496px) {
  .nav_bar {
    z-index: 3;
    box-sizing: border-box;
    position: absolute;
    width: 65vw;
    height: 100%;
    display: none;
    text-align: left;
    margin: 0 0 0 35vw;
    padding: 10% 10vw 0 0;
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(25px);
  }
  .close_icon {
    /* display: inline-block;
      box-sizing: border-box;
      width: 10%; */
    display: block;
    text-align: right;
    margin-bottom: 10vw;
  }
  .nav_ele strong {
    display: inline;
  }
  .nav_ele {
    box-sizing: border-box;
    width: fit-content;
    margin: 1rem 1vw 0 8vw;
  }
  .nav_ele hr {
    margin: 1rem 0 0 0;
  }
  .nav_icon {
    display: inline-block;
    width: fit-content;
    z-index: 1;
    margin: 2.3rem 2rem 0rem 85%;
    position: relative;
  }
  .home_body {
    padding-top: 0%;
    background-image: url(assets/destination/background-destination-mobile.jpg);
    position: relative;
    text-align: center;
  }
  h5{
    margin: 4rem 0 1rem 0;
    width: 100%;
  }
  .planet_image{
    margin: 2rem 0 0 0;
  }
  .destination_bar{
    padding: 0%;
    width: 100%;
  }
  .description{
    margin-bottom: 4rem;
  }
  .description h1{
    font-size: 4rem;
  }
  .description p{
    letter-spacing: 0;
  }
  .dist_time{
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
}
