body {
  margin: 0;
  padding: 0%;
  color: aliceblue;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
}
.home_body {
  position: relative;
  padding-top: 2.5rem;
  background-image: url("assets/technology/background-technology-desktop.jpg");
  background-position: center;
  background-size: cover;
}
.logo {
  margin: 1.5rem 0 0 3.5rem;
  position: absolute;
}
.nav_hr {
  position: absolute;
  display: inline;
  margin-top: 3rem;
  margin-left: 12%;
  background-color: #505155;
  width: 35%;
  z-index: 1;
  border-width: 0px;
  height: 0.1px;
}
.nav_bar {
  display: inline-block;
  height: 6rem;
  text-align: center;
  position: relative;
  width: 55vw;
  margin-left: 43.6vw;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(25px);
  color: #ffffff;
}
.close_icon {
  display: none;
}
.nav_ele {
  display: inline-block;
  position: relative;
  width: fit-content;
  z-index: 1;
  margin: 2.4375rem 1rem 2.4375rem 2rem;
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1688rem;
  color: #ffffff;
}
.nav_ele a {
  text-decoration: none;
  color: inherit;
}
.nav_icon {
  display: none;
}
.nav_ele hr {
  opacity: 0;
  width: 100%;
  margin: 2.125rem 0 0 0;
  border-width: 0;
  height: 3px;
  background-color: #ffffff;
}
.nav_ele:hover hr {
  opacity: 1;
  background-color: #77787c;
}
.nav_ele:active hr {
  opacity: 1;
  background-color: #ffffff;
}
.mob_menu {
  display: none;
}

/* DESCRIPTION */
h5 strong {
  color: #505155;
  font-weight: 800;
  margin: 0 1rem 0 0;
}
h5 {
  font-size: 1.75rem;
  letter-spacing: 0.2969rem;
  font-family: "Barlow Condensed";
  font-weight: 300;
  color: #ffffff;
  margin: 5rem 0 0 10rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.number {
    display: flex;
    box-sizing: border-box;
    width: 18vw;
    flex-direction: column;
    height: fit-content;
    margin: 9.5rem 0 0 0vw ;
    padding-left: 12vw;
    text-align: center;
}
.number a{
    display: inline-block;
    width: 6vw;
    height: 6vw;
    border: 1px solid #505155;
    border-radius: 100%;
    margin: 0 0 2rem 0 ;
    box-sizing: border-box;
    text-decoration: none;
}
.number a:hover{
    background-color: #505155;
}
.number a:active{
    background-color: #ffffff;
}
.number p{
    margin: 1.4vw  0 0 0 ;
    color: #ffffff;
    font-size: 2rem;
    font-family: "Bellefair";
    line-height: 1.5;
    font-weight: 400;
}
#act {
    background-color: #ffffff;
}
#act p{
    color: #000000;
}
.description {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 40vw;
  margin: 7.5rem 0 0 6vw;
}
h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Barlow Condensed";
  font-weight: 100;
  letter-spacing: 0.2rem;
  color: #d0d6f9;
}

h1 {
  display: inline-block;
  margin: 0%;
  font-size: 3.5rem;
  font-family: "Bellefair";
  font-weight: 400;
}
.description p {
  line-height: 1.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #d0d6f9;
  width: 80%;
  margin: 2rem 0 0 0;
}
.crew_image {
  box-sizing: border-box;
  margin: 0 0 10rem 0;
  width: 34.75vw;
}
.crew_image img{
    width: 100%;
}
.crew_image hr {
  display: none;
}

@media only screen and (max-width: 900px) {
  .home_body {
    padding-top: 0%;
    background-image: url(assets/crew/background-crew-tablet.jpg);
    position: relative;
  }
  .nav_bar {
    width: 70vw;
    margin-left: 30vw;
  }
  .logo {
    margin-left: 2rem;
  }
  .nav_hr {
    display: none;
  }
  .nav_ele {
    margin: 2.4375rem 0.5rem 2.4375rem 1rem;
  }
  .nav_ele strong {
    display: none;
  }

  h5 {
    margin: 2rem 0 0 2rem;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
  }

  .description {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0rem 0 2rem 0;
    text-align: center;
  }
  .container {
    margin: 5rem 0 0 0;
    text-align: center;
  }
  .description h4 {
    font-size: 1.75rem;
  }
  .description h1 {
    display: block;
    font-size: 2.5rem;
  }
  .description p {
    box-sizing: border-box;
    line-height: 1.875rem;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: #d0d6f9;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }
  .crew_image {
    width: 100%;
    text-align: center;
    margin: 0%;
  }
  .crew_image img {
    width: 60%;
  }
}
@media only screen and (max-width: 496px) {
  .nav_bar {
    z-index: 3;
    box-sizing: border-box;
    position: absolute;
    width: 65vw;
    height: 100%;
    display: none;
    text-align: left;
    margin: 0 0 0 35vw;
    padding: 10% 10vw 0 0;
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(25px);
  }
  .close_icon {
    /* display: inline-block;
          box-sizing: border-box;
          width: 10%; */
    display: block;
    text-align: right;
    margin-bottom: 10vw;
  }
  .nav_ele strong {
    display: inline;
  }
  .nav_ele {
    box-sizing: border-box;
    width: fit-content;
    margin: 1rem 1vw 0 8vw;
  }
  .nav_ele hr {
    margin: 1rem 0 0 0;
  }
  .nav_icon {
    display: inline-block;
    width: fit-content;
    z-index: 1;
    margin: 2.3rem 2rem 0rem 85%;
    position: relative;
  }
  .home_body {
    padding-top: 0%;
    background-image: url(assets/crew/background-crew-mobile.jpg);
    position: relative;
    text-align: center;
  }
  h5 {
    margin: 4rem 0 1rem 0;
    width: 100%;
  }
  .description {
    margin-bottom: 4rem;
    order: 2;
  }
  .description h4 {
    font-size: 1.25rem;
  }
  .description h1 {
    font-size: 1.75rem;
  }
  .description p {
    letter-spacing: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .crew_image {
    order: 1;
  }
  .crew_image img {
    width: 40%;
  }
  .crew_image hr {
    display: inline-block;
    width: 90%;
    border-width: 0;
    height: 0.1px;
    margin: 0%;
    background-color: #505155;
  }
}
